* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: relative;
}

header #top {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  position: relative;
}
header #top .icons {
  display: flex;
  gap: 30px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 30px;
}
header #top .icons:hover {
  opacity: 1;
}
header #top .logo img {
  height: 55px;
  width: 350px;
}

header #top button {
  padding: 12px 24px;
  height: 40px;
  font-size: 15px;
  background-color: transparent;
  color: #edcc7b;
  border: 1px solid #edcc7b;
  transition: all 0.2s;
}

header #top button:hover {
  color: #ffffff;
  background-color: #edcc7b;
  cursor: pointer;
}

nav {
  background-color: #eefff8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 150px;
}

li {
  display: inline;
}

/* Styling for the navigation links */
a {
  font-family: sans-serif;
  display: inline-block;
  color: #141414;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 12px;
}

/* Hover effect */
a:hover {
  color: #edcc7b;
}

/* DROP DOWN MENUE  */
header .dropdown-menu {
  display: none;
  position: absolute;
  top: 460px;
  height: 0;
  width: 100%;
  margin: 0px 0px;
  background-color: #fff;
  box-shadow: 0px 2px 3px #eee;
  border-radius: 10px;
  overflow: hidden;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 99;
}

header .dropdown-menu.open {
  height: 380px;
  margin-top: 140px;
}
header .dropdown-menu li {
  /* padding: 0.7rem; */
  display: flex;
  font-size: 24px;
  justify-content: left;
}

/* BAR  */

header #top .bar {
  display: none;
  /* position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 450px;
  top: 120px; */
  font-size: 30px;
  color: black;
}

/* CONTANT  */
.contant {
  height: 80vh;
  width: 100%;
  position: relative;
}
.contant article {
  font-family: sans-serif;
  height: 320px;
  width: 453px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 150px;
  margin-top: 120px;
  position: absolute;
}
.contant article h3 {
  font-size: 16px;
  color: #edcc7b;
  padding: 60px 10px 15px 160px;
}

.contant article h1 {
  color: #ffffff;
  padding: 10px 10px 15px 120px;
  font-size: 40px;
}
.contant article h1 span {
  float: right;
  padding-right: 68px;
}

.contant article p {
  padding-top: 20px;
  text-align: center;
  clear: both;
  color: #f7ecec;
  opacity: 0.5;
  line-height: 30px;
}

.contant::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("images/mike-kotsch-JvkueXPdetE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  z-index: -1;
}

/* CONTANT 1  */

.contant1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  font-family: sans-serif;
  gap: 100px;
  margin-top: 60px;
}

.contant1 .items {
  padding: 30px 0 0 100px;
  /* width: 30%; */
}

.contant1 .items p {
  color: #edcc7b;
  letter-spacing: 2px;
  padding: 30px 0 10px 0;
}
.contant1 .items h1 {
  font-size: 40px;
  padding: 10px 0;
}
.contant1 .items .stars .fa-star {
  color: #edcc7b;
  padding: 15px 0;
}

.contant1 button {
  padding: 12px 24px;
  height: 40px;
  font-size: 15px;
  background-color: #edcc7b;
  color: #ffffff;
  border: 1px solid #edcc7b;
  cursor: pointer;
}

.contant1 article {
  padding: 30px 100px 0 0;
}

.contant1 article h3 {
  opacity: 0.5;
  line-height: 35px;
  letter-spacing: 2px;
  padding: 20px 30px 0px 0px;
  font-size: 20px;
}
.contant1 article p {
  opacity: 0.5;
  line-height: 25px;
  letter-spacing: 2px;
  padding: 10px 0px 10px 0px;
}

/* CARDS  */
.cards {
  font-family: sans-serif;
  display: flex;
  /* margin-top: 50px; */
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 50px auto 0 auto;
}
.cards .card1 {
  overflow: hidden;
  height: 300px;
  width: 200px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.cards .card1 img {
  width: 98%;
  height: 130px;
}
.cards .card1 h1 {
  padding: 10px 5px;
  font-size: 23px;
}
.cards .card1 p {
  line-height: 30px;
  text-align: center;
  font-size: 17px;
  opacity: 0.5;
  padding: 0px 5px;
}

/* CONTANT 2  */
.contant2 {
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.contant2 article {
  font-family: sans-serif;
  height: 380px;
  width: 453px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}
.contant2 article h3 {
  font-size: 16px;
  color: #edcc7b;
  padding: 60px 10px 15px 160px;
}

.contant2 article h1 {
  color: #ffffff;
  text-align: center;
  /* padding: 10px 10px 15px 120px; */
  font-size: 40px;
}
.contant2 article h1 span {
  float: right;
  padding-right: 68px;
}

.contant2 article p {
  padding-top: 20px;
  text-align: center;
  clear: both;
  color: #f7ecec;
  opacity: 0.5;
  line-height: 30px;
}

.contant2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("images/mike-kotsch-JvkueXPdetE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  z-index: -1;
}
.contant2 button {
  display: flex;
  margin: 20px auto;
  padding: 12px 24px;
  height: 40px;
  font-size: 15px;
  background-color: #edcc7b;
  color: #ffffff;
  border: 1px solid #edcc7b;
  cursor: pointer;
}

/* CONTANT 3  */
.contant3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  font-family: sans-serif;
  gap: 100px;
  margin-top: 50px;
}

.contant3 .items {
  padding: 30px 0 0 100px;
  /* width: 30%; */
}

.contant3 .items p {
  color: #edcc7b;
  letter-spacing: 2px;
  padding: 30px 0 10px 0;
}
.contant3 .items h1 {
  font-size: 40px;
  padding: 10px 0;
}

.contant3 article {
  padding: 30px 100px 0 0;
}

.contant3 article h3 {
  opacity: 0.5;
  line-height: 35px;
  padding: 20px 30px 0px 0px;
  font-size: 20px;
}
.contant3 article p {
  opacity: 0.5;
  line-height: 25px;
  padding: 10px 0px 10px 0px;
}

/* FOOTER */

.men10 article {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
  padding-top: 170px;
  /* position: relative; */
}
.men10 {
  height: 100%;
  margin-top: 100px;
  position: relative;
}
.men10::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("images/mike-kotsch-JvkueXPdetE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.men10 .one img {
  height: 55px;
  width: 350px;
}
.men10 .one .social {
  display: flex;
  gap: 40px;
  color: #999999;
  padding: 30px 0 0 120px;
}
.men10 .one .social:hover {
  color: black;
}

.men10 h3 {
  padding-bottom: 20px;
  text-align: start;
  color: #edcc7b;
  font-weight: bold;
}
.men10 a {
  text-decoration: none;
  display: block;
  text-align: start;
  font-size: 17px;
  font-weight: bold;
  color: #999999;
  padding: 10px;
}
.men10 a:hover {
  color: #edcc7b;
}

.men10 .one .social i:hover {
  opacity: 1;
  cursor: pointer;
}

.men10 a span i {
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
}
.end {
  color: #999999;
  text-align: center;
  margin-top: 50px;
  font-size: 17px;
  font-weight: bold;
}

/* WHATSAPP ICON  */

.fa-whatsapp {
  height: 60px;
  width: 60px;
  padding: 12px;
  font-size: 40px;
  background-color: #ffffff;
  color: green;
  border-radius: 30px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
}

/* RESPONSIVE  */

@media (max-width: 1160px) {
  header nav {
    display: none;
  }
  header .dropdown-menu {
    display: block;
    top: 170px;
    /* width: 80%; */
  }
  header #top .bar {
    display: block;
  }
}

@media (max-width: 800px) {
  .contant article {
    margin: 0;
    width: 390px;
  }
  .contant1 {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  header #top {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .cards {
    flex-wrap: wrap;
  }
  .cards .card1 {
    width: 100%;
    height: 516px;
  }
  .cards .card1 img {
    width: 100%;
    height: 380px;
  }
  .contant3 {
    flex-direction: column;
    align-items: flex-start;
  }
  .men10 article {
    flex-direction: column;
    align-items: center;
  }

  .contant1 article h3 {
    letter-spacing: 0;
  }
  .contant1 article p {
    letter-spacing: 0;
  }
}
